{% extends "root.html" %}
{% block content %}

<h1 style="text-align: center;">User Login</h1>
<hr/>
{% if redirect_url is none %}
<form action="./login" method="post">
{% else %}
<form action="./login?redirect_url={{ redirect_url }}" method="post">
{% endif %}
<table style="margin-left:auto; margin-right:auto;">
    <tr>
      <td>Email</td>
      <td><input type="email" name="email"/></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="password" name="password"/></td>
    </tr>
    <tr>
      <td colspan="2">
        <input class="btn btn-primary" type="submit" value="submit"/>
      </td>
       <td>
           <div>
               <a class="btn btn-primary" href="/register" role="button">No account?</a>
           </div>
       </td>
    </tr>
  </table>
</form>

{% endblock %}
